{% extends "admin/change_form.html" %}

{% block extrahead %}
  {% load adminmedia %}
  {{ block.super }}
  <script type="text/javascript">
    function InlineInit() {
      var body_div = document.getElementById('id_body').parentNode;
      var content = ''
      
      var div = document.createElement('div');
      div.setAttribute('style', 'margin-top:10px;');
      div.innerHTML = content;
      
      body_div.insertBefore(div, document.getElementById('id_body').nextSibling);
    }
    
    function insertInline(type, id, classname) {
      if (type != '----------' && id != '') {
        inline = '<inline type="'+type.replace('/', '.')+'" id="'+id+'" class="'+classname+'" />';
        body = document.getElementById('id_body');
        body.value = body.value + inline + '\n';
      }
    }
    
    addEvent(window, 'load', InlineInit);
  </script>
{% endblock %}
